# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Output artifacts
*_clean.*
*_remap.*
*.models
*_weights.txt

# System
.DS_Store

# IDE
.vscode/
.idea/

# development
output/

# Ignore virtual environments
.venv/
venv/
ENV/
env/